<center>
<div style="padding-top: 5%;">
  <div class="box" id="details">
    <p>
    <div ng-if="patient.info!=0">
      <h1 STYLE="color: #2b669a">Patient details :</h1>
      <h3 style="margin-left: 30px; ">Last Name:  {{patient.lastName}}</h3>
      <h3 style="margin-left: 30px;">First name:  {{patient.firstName}}</h3>
      <h3 style="margin-left: 30px;">Cin:  {{patient.cin}}</h3>
      <h3 style="margin-left: 30px;">HomeTreatment: {{patient.HomeTreatment}}</h3>
      <h3 style="margin-left: 30px;">Age: {{patient.age}}</h3>
      <h3 style="margin-left: 30px;">Gender: {{patient.gender}}</h3>
    </div>

    <div ng-if="patient.info!=0">
      <h1 STYLE="color: #2b669a">Date deparature :</h1>

      <h3>{{patient.departure_date}}</h3>

    </div>


    <div>
      <h1 STYLE="color: #2b669a">Patient country :</h1>

      <h3>{{patient.from}}</h3>

    </div>
    <div>
      <h1 STYLE="color: #2b669a">Desired country :</h1>

      <h3 >{{patient.to}}</h3>

    </div>
  <div class="btn-group">
    <div ng-show="patient.in=='agency'">
      <a  class="btn btn-success" ng-click="deleteH(patient);">

        <div class="btn" ng-class="{true:'btn-success', false:''}[patient.name]" >
          Alreadye IN
        </div></a></div>

    <div ng-show="patient.in=='doctor'">
      <a  class="btn btn-default" ng-click="deleteH(patient);">

        <div class="btn" ng-class="{true:'btn-success', false:''}[patient.name]" >
          Added to my list

        </div></a></div>
  </div>

  <hr>

    <div class="social">

      <a style="margin-left: 87%;" href="../alreadyin1" class="btn btn-success">list of patient alreadye in</a>
      <a style="margin-top: -60px"; href="../agency" class="btn btn-success" > Go back to list</a>
    </div>
</div>
</center>
