<link rel="stylesheet" href="bower_components/angular-loading/angular-loading.css"/>

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a ui-sref="main" href="">Home</a></li>
                    </ul>
                </div>

                <div class="col-md-3">

     <div class="panel panel-default sidebar-menu">



      </div>

      <div class="panel panel-default sidebar-menu">

          <div class="panel-heading">
              <h3 class="panel-title">Lists of cases
                <div class="nav-search" id="nav-search">
                        <span class="input-icon">
                            <input placeholder="Filter Association ..." class="nav-search-input" ng-model="filterBrand" autocomplete="off" type="text" autofocus style="width:100%">
                            <i class="search-icon fa fa-search nav-search-icon"></i>
                        </span>
                </div>
              </h3>
          </div>

          <div class="panel-body brand-filter-panel">

              <form>
                  <div class="form-group">
                      <div class="checkbox" ng-repeat="p in Associations | filter:filterBrand">
                          <label>
                            <input type="checkbox" value="{{b.name}}" checklist-model="fl.Associations" checklist-value="b" ng-click="filter();" />
                            {{b.slug}}<span>&nbsp;</span>
                          </label>
                      </div>
                  </div>

<a class="btn btn-xs btn-warning pull-right" href="" ng-repeat="b in fl.Associations" ng-click="removeAssociation(b);" style="margin:0 0 5px 5px;"><i class="fa fa-times-circle"></i> {{b.name}}</a>
              </form>

          </div>
      </div>

      <div class="panel panel-default sidebar-menu">

          <div class="panel-heading">
              <h3 class="panel-title">Locations
                <div class="nav-search" id="nav-search">
                        <span class="input-icon">
                            <input placeholder="Filter Locations ..." class="nav-search-input" ng-model="filterFeature" autocomplete="off" type="text" autofocus style="width:100%">
                            <i class="search-icon fa fa-search nav-search-icon"></i>
                        </span>
                </div>
              </h3>
          </div>

          <div class="panel-body">
              <form>
                  <div class="form-group">
                    <div ng-repeat="k in Travel_Agencies | filter:filterFeature">
                        <h4>{{k.key}}</h4>
                        <div class="checkbox" ng-repeat="f in k.v">
                            <label>
                              <input type="checkbox" value="{{f}}" checklist-model="fl.Travel_Agencies[k.key]" checklist-value="f" ng-click="filter();" />
                              {{f}}<span>&nbsp;</span>
                            </label>
                        </div>
                    </div>
                  </div>
              </form>
          </div>
      </div>


                </div>

                <div class="col-md-9">

                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-sm-12 col-md-5 patients-showing">
                                Showing {{patients.items.length}} Cases of {{patients.count}}
                            </div>

                            <div class="col-sm-12 col-md-7 text-right patients-number-sort">
                                <div class="row">
                                    <form class="form-inline">

                                        <div class="col-md-12 col-sm-12">
                                            <div class="patients-number">
                                                <strong>Sort</strong>
                                                <div class="btn-group">
                                                  <a href="" ng-repeat="o in sortOptions" ng-class="{active : o.val==patients.sort}" class="btn btn-default btn-sm btn-primary"  ng-click="sortNow(o.val);">{{o.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-8  patients-number-sort">
                                <div class="patients-sort-by">
                                  <span ng-if="fl.Associations.length>0">Associations:</span>
                                  <a class="btn btn-xs btn-warning" href="" ng-click="removeAssociation(b);" ng-repeat="b in fl.Associations" style="margin-left:5px;"><i class="fa fa-times-circle"></i> {{b.name}}</a>

                                  <a ng-if="fl.doctors.length>0" class="btn btn-xs btn-warning" href="" ng-click="removeTravel_Agenciesry();" style="margin-left:5px;"><i class="fa fa-times-circle"></i>{{fl.doctors[0].name}}</a>

<span ng-repeat="Travel_Agencies in fl.Travel_Agencies">
    <a ng-if="Travel_Agencies" ng-click="removeTravel_Agencies(Travel_Agencies);" ng-repeat="f in Travel_Agencies" class="btn btn-xs btn-warning" href="" style="margin-left:5px;">{{f}}</a>
</span>

                                  <!-- <select ng-model="patients.tookencasesmanagement"  ng-change="navigate('Brand',patients.tookencasesmanagement);" ng-options="b.name for b in Associations track by b._id" class="pull-right">
                                      <option value="">All Associations</option>
                                  </select> -->
                                </div>
                            </div>
                        </div>
                    </div>
<div infinite-scroll='scroll()' infinite-scroll-disabled='patients.busy' infinite-scroll-distance='1'>
                    <div class="row patients" dw-loading="patients" dw-loading-options="{text: ''}">
                      <div class="box" ng-if="patients.items.length==0">
                          <div class="row">
                              <div class="col-sm-12">
                                <h3>No Case found. Try removing some filters.</h3>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6" ng-repeat="patient in patients.items" ng-show="patient.in =='association' "> <!-- && patient.speciality_doctor == getCurrentUser.speciality-->
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a ui-sref="caseDetail({id:patient._id})">
                                                <img ng-src="assets/img/associamed.jpg"
                                                    alt="{{patient.lastName}}" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a ui-sref="caseDetail({id:patient._id})">
                                                <img ng-src="assets/img/associamed.jpg"
                                                    alt="{{patient.lastName}}" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a ui-sref="caseDetail({id:patient._id})" class="invisible">
                                    <img ng-src="assets/img/associamed.jpg" alt="" class="img-responsive">
                                </a><br><br>
                                <div class="text text-center">
                                    <h3><a ui-sref="caseDetail({id:patient._id})">{{patient.lastName}}<br>{{patient.reasonForHospitalisation}}</a></h3>
                                    <p class="buttons">
                                      <div class="btn-group">
                                      <a ui-sref="caseDetail({id:patient._id})" class="btn btn-default">View detail</a>


                                      </div>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.patient -->
                        </div>

                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.patients -->

                </div>
                <!-- /.col-md-9 -->
</div> <!-- /just to enable infinite scroll -->
